@using SimpleJob.Entities.Model
@model Is
@{
    ViewBag.Title = "Detaylar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="container">
        <fieldset>
            <legend>Detaylar</legend>,

            <div id="baslık2" style="font-size:large; color:#071f55">@Model.IsBaslik</div>&nbsp;
            <div id="baslık2" style="font-size:large; color:#071f55">@Model.IsAciklama</div>&nbsp;
            <div id="baslık2" style="font-size:large; color:#071f55">@Model.SonTeslimTarihi</div>&nbsp;


            <div>
                <a style="width:60px;" class="btn-block glyphicon-save-file " href="@Model.DosyaAdresi">Dosya</a>
            </div>
            @if (User.IsInRole("P"))
            {
                @Html.ActionLink("Detaylar", "Detaylar","Is" , new { @class = "btn-secondary" })
            }

            <br />
            <div><a class="btn-danger" href="/Is/Index">Geri</a></div>



        </fieldset>
    </div>
</body>
</html>

